@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-color: rgb(57, 57, 57);
}

.hero {
    /* background-color: #1c1d25; */
    background-color: rgb(57, 57, 57);
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    justify-content: center;
    background-color: rgb(28, 28, 28);
    color: white;
    text-align: center;
    /* padding: 80px; */
    padding: 30px 30px 100px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 700px;
    justify-content: space-around;
    font-size: 30px;
    padding: 20px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: white;
}

h2-sub {
    font-size: 80px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    color: white
}

.p-sub {
    text-align: center;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: rgb(80, 95, 255);
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 80px;
    margin: 30px;
}

.social {
    margin: 40px;
}

#tailoredscaffolding {
    background-image: url("images/project1.jpg");
    background-size: cover;
}

#burgerrator {
    background-image: url("images/burgerrator.png");
    background-size: cover;
}

#news {
    background-image: url("images/news-app.png");
    background-size: cover;
}

#dates {
    background-image: url("images/dates-app.png");
    background-size: cover;
}

.information {
    font-size: 80px;
    justify-content: center;
}

.square {
    width: 98%;
    margin: 1%;
    height: 300px;
    /* background-color: rgb(255, 255, 255); */
    background-color: rgb(71, 71, 71);
    text-align: center;

}

.sub-section {
    display: flex;
    flex-wrap: wrap;
}

.dark .square {
    background-color: rgb(71, 71, 71);
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    font-size: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}


.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.contact-me {
    justify-content: center;
    font-size: 90px;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgba(16, 124, 255, 0.735);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 100%;
    /* Rounded corners */
    width: 60px;
    height: 60px;
    font-size: 30px;
    /* Increase font size */
    font-weight: 500;
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

@media only screen and (max-width: 970px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.square {
    width: 48%;
    margin: 1%;
    height: 600px;
}

.project-image {
    margin-top: 25px;
    width: 250px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

.sub-container {
    text-align: center;
    padding: 90px;
    color: #808080;
    margin-bottom: 25px;
}


@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 50px;
        margin: 50px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: rgb(69, 69, 69);
        margin: 50px;
        font-size: 40px;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: rgb(69, 69, 69);
    }

    .logo {
        display: none;
    }

    .square {
        width: 90%;
        /* margin: 1%; */

    }
}